{:paths ["src" "resources"]
 :deps {org.clojure/clojure    {:mvn/version "1.10.3"}
        com.fulcrologic/fulcro {:mvn/version "3.4.21"}
        com.wsscode/pathom     {:mvn/version "2.3.1"}}
 :aliases
 {:serve {:main-opts ["-m" "shadow.cljs.devtools.cli" "watch" "main"]
          :extra-deps {thheller/shadow-cljs                {:mvn/version "2.11.6"}
                       binaryage/devtools                  {:mvn/version "1.0.0"}}}}}
