{:deps     {:aliases [:dev]}
 :http     {:port 9631} ; shadow control server
 :nrepl    {:port 9001}
 :dev-http {8000 "resources/public"}
 :jvm-opts ["-Xmx2G"]
 :builds   {:main     {:target     :browser
                       :output-dir "resources/public/js/main"
                       :asset-path "/js/main"
                       :dev        {:compiler-options {:external-config {:guardrails {:emit-spec? true :throw? false}}}}
                       :release    {:compiler-options {:source-map true}}
                       :modules    {:main {:init-fn holyjak.fulcro-exercises/init}}
                       :devtools   {:preloads   [shadow.remote.runtime.cljs.browser ; Shadow Inspect tab support
                                                 com.fulcrologic.fulcro.inspect.preload
                                                 com.fulcrologic.fulcro.inspect.dom-picker-preload]
                                    :after-load holyjak.fulcro-exercises.impl/refresh}}
            :puzzles {:target     nubank.workspaces.shadow-cljs.target
                      :ns-regexp  "-(test|ws)$"
                      :output-dir "resources/public/workspaces/js"
                      :asset-path "/workspaces/js"
                      :devtools   {:preloads           [com.fulcrologic.fulcro.inspect.preload]
                                   :http-root          "resources/public/workspaces"
                                   :http-port          8023
                                   :http-resource-root "."}}}}
